.case {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.revealed {
    background-color: #ddd;
    font-weight: bold;
}

.bomb {
    background-color: black;
}

.flag {
    background-color: red;
}