div.topBar {
    position: absolute;
    top: 0;
    left: 0;
    background-color: gray;
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    height: 100vh;
}

.newGame {
    margin: 20px;
}

.timer {
    color: white;
    font-size: 30px;
}

.gameInfoFlag {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 40px;
  }
  
  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  th {
    width: 25%;
  }

  td {
    width: 25%;
  }

  