div.topBar {
    background-color: gray;
    align-items: center;
    padding: 0 30px 0 30px;
    height: 100vh;
    align-items: center;
}

.newGame {
    margin: 20px;
}

.timer {
    color: white;
}